body {
  font-family: 'Roboto', sans-serif;
  background-color: #344e41;
  color: #344e41;
  padding: 25px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Roboto', monospace;
  color: #3a5a40; 
  text-align: center;
}

a {
  text-decoration: none;
  color: #a3b18a;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s ease;
}

a:hover {
  color: #3a5a40;
}

#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.card {
  background-color: #dad7cd;
  padding: 25px;
  width: 80%;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
